/**
 * CSS3
 *
 * List of dope features made available in CSS3.
 */

 // animations
 div {
    animation: dope-animation 2s linear; // @keyframes dope-animation
 }

 // transitions
div {
    width: 100px;
    height: 100px;
    transition: width 2s, height 2s;

    // transition on hover
    &:hover{
        width: 200px; // width will transition by 100px
        height: 200px; // height will transition by 100px
    }
}

// calc()
div {
    width: calc(100% - 40px); // calc allows for simple arithmetic
}

// generated content
div {
    &:before {
        content: 'This text will appear at the top of all divs';
    }
}

// webfonts
div {
    font-family: sick-font; // @font-face
}

@font-face {
    font-family: sick-font;
    src: url(sick-font.woff); // path to sick custom font
}

// border images
div {
    border: 10px solid transparent;
    border-image: url(border.png) 30 round;
}

// multiple backgrounds
div {
    background: url(background1.png), url(background2.png);
}