.item-wrapper {
  background: linear-gradient(0deg, rgba(149,147,144,1) 15%, rgba(255,255,255,1) 100%);
  width: 500px;
  height: 100px;
  overflow-x: hidden;
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative;
  animation-name: slide-up;
  animation-duration: 10s;
  animation-fill-mode: forwards; */
}

.item {
  font-size: 20px;
  margin: 10px 0;
}

@keyframes slide-up {
  from {
    top: 0;
  }

  to {
    top: -1000px;
  }
}