#sw-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 502px;
  right: 0px;
}

.sw-container__film {
  border: 1px solid black;
  margin-bottom: 16px;
  min-width: 500px;
  margin-right: 20px;
}
